.navbar{
    
    padding-right: 20px;
    padding-top: 0px;
    float: right;
}
.container-fluid{
    padding-right: 20px;
    padding-top: 0px;
}

.container{
    padding-top: 200px;
    padding: auto;
}


.rounded {
    width: 200px;
    height: 200px;
    float: left;
    padding-left: 20px;
    padding-top: 0;
}


.texto {
    padding-left: 90px;
    padding-top: 300px;
    font-family: 'Norwester';
    font-style: normal;
    font-weight: 300px;
    font-size: 72px;
    line-height: 86px;
    text-transform: uppercase;

    color: #18140D;
}

.texto2 {
    padding-top: 0;
    padding-left: 120px;
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #18140D;
}

.image {
    padding-top: -200px;
    width: 700px;
   
  
}

.parrafos{
    padding-top: 900px;
    width: 1920px;
    height: 1080px;
}
.text1{
    width: 617px;
    height: 87px;
    left: 282px;
    top: 1218px;
    
    
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;
}

.ico{
    width: 30%;
    float: left;
    
}

#fondo{
   border-radius: 14px;
  
}

#superposicion{

    height: 269px;
    width: 689px;
    left: 1077px;
    top: -150px;
    border-radius: 14px;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
   
}


.grid{
    height: 1080px;
    width: 1920px;
    left: 0px;
    top: 200px;
    border-radius: 0px;
    padding-top: 40px;
    background: #4385F5;
    position: relative;
    display:flex;

}

.conta{
    float: left;
    border-style: solid;
    border-color: black;
    height: 350px;
    width: 350px;
    left: 431px;
    top: 2419px;
    border-radius: 0px;
    text-align: justify;
    padding: 20px;
   
}

.contal{ 
    float: right;
    border-style: solid;
    border-color: black;
    height: 350px;
    width: 350px;
    left: 431px;
    top: 2419px;
    border-radius: 0px;

}


  